:root{
    --main-color: #4d4e53;
    --main-bg: rgb(255, 255, 255);
    --logo-border-color: rebeccapurple;
    --header-height: 68px;
    --content-padding: 10px 20px;
    --base-line-height: 1.428571429;
    --transition-duration: .35s;
    --external-link: "external link";
    --margin-top: calc(2vh + 20px);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.main-foundation {
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    position: absolute;
}

.wall-paper {
    width: 100%;
    height: 100%;
}
.image-mask{
    margin-top: -100%;
    width: 100%;
    height: 100%;
}


.editText{
    margin: 15px;
    text-align: center;
    /* border: 2px solid #a1a1a1; */
    padding: 10px 40px;
    background: #dddddd66;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    float: left;
}

.editText > span{
    float: left;
}
.editText > input{
    float: left;
}

.buttonCommint{
    margin: 15px;
    text-align: center;
    /* border: 2px solid #a1a1a1; */
    padding: 10px 40px;
    background: #FF9800;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    float: left;
}

.buttonCommint > span{
}



.menu {
    float:left;
    width:20%;
    text-align:center;
}
.menuitem {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
}
.main {
    float:left;
    width:60%;
    padding:0 20px;
}
.right {
    background-color:#e5e5e5;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width:100%;
    }
}