<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="h">
      <div class="w bread">
        <div>
          <h1>GM Test</h1>
        </div>
      </div>
    </div>
    <div id="b">
      <%- body %>
    </div>
    <div id="f" class="w bread">
      <div class="foot-bd">
        <div>Any bug please contect 972169909@qq.com</div>
        <div>Server time: <span time="<%= time %>" id="timer"></span></div>
        Copyright © 2013-2014 KIDx All Rights Reserved. KIDx 版权所有.
      </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/Global.js"></script>
    <script src="/ajaxform/ajaxform.js"></script>
    <script src="/javascripts/avatar.js"></script>
  </body>
</html>
