[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = CN
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = TianJin
localityName = Locality Name (eg, city)
localityName_default = TianJin
organizationalUnitName  = Organizational Unit Name (eg, section)
organizationalUnitName_default  = Domain Control Validated
commonName = Internet Widgits Ltd
commonName_max  = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
# DNS.1 = ns1.dns.com
# DNS.2 = ns2.dns.com
# DNS.3 = ns3.dns.com
IP.1 = 192.168.10.43
IP.2 = 127.0.0.1
IP.3 = 127.0.0.2
IP.4 = 192.168.18.6